
.container-fluid{
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: rgba(0,0,0,0.8);
  background-color: #999999;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.navbar-brand{
  font-size: 30px;
  color: #000000;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.nav{
  margin: 0;
  padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
  border: 2px solid #000000;
  margin-right: 25px;
}

.icon-bar{
  background-color: #000000;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
  box-sizing: border-box;
  width: 100%;
}

.menu-item{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: block;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.menu-item:hover{
  background-color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.4);
}


.row{
  margin: 20px;
}

.content-box{
  margin: 20px;
  width: auto;
  height: auto;
  color: black;
  background-color: #999999;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 20px;
}

.item-name{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
